	<section id="message">
		<div class="block-border"><div class="block-content no-title dark-bg">
			<p class="mini-infos">For demo website, use <b>admin</b> / <b>admin</b></p>
		</div></div>
	</section>
	
	<section id="login-block">
		<div class="block-border"><div class="block-content">
			
			<!--
			IE7 compatibility: if you want to remove the <h1>, 
			add style="zoom:1" to the above .block-content div
			-->
			<h1>Admin</h1>
			<div class="block-header">Change password</div>
				
			<p class="message error no-margin" style="display: none;">Error message</p>

			<%= form_for("user", :url => password_path(User), :html => { :method => :put,
				:id => "password-reset-form", :class => "form with-margin", :name => "password-reset-form" }) do |f| %>

				<%= f.hidden_field :reset_password_token, :id => "token" %>

				<p class="inline-small-label">
				<label for="password"> <span class="big"> Password </span> </label>
			  	<%= f.password_field :password,:id => "password", :name => "password", :class => "full-width"%>
				</p>

				<p class="inline-small-label">
					<label for="pass"> <span class="big"> Confirm Password </span> </label>
					<%= f.password_field :password_confirmation, :id => "password_confirmation", :name => "password_confirmation", :class => "full-width" %>
				</p>

				<%= f.button "Change Password", :class => "float-right" %>

				<br/>

			<% end %>
		</div></div>
	</section>